<!DOCTYPE html>
<html>

    <head>
        <title>AlgoVisualizer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>

    <body>