<%- include('partials/header'); -%>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Algorithms Visualiser</a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="nav navbar-nav navbar-right">
                <li><a href="/">Source Code</a></li>
            </div>
        </div>
    </div>
</nav>
<h1 style="margin-top: 10px; text-align: center;">Sorting Algorithms</h1>

<div class="row text-center" style="
                                    display: flex; 
                                    flex-wrap: wrap; 
                                    margin: 30px auto; 
                                    min-width: 600px;">
    <% for(var i=0; i<sort.length; i++){ %>
        <div class="col-md-4 col-md-6 containThumbnail" style="min-width: 365px;">
            <div class="thumbnail">
                <canvas id="<%=sort[i].id %> "></canvas>
                <div class="captions">
                    <h4>
                        <%= sort[i].name %>
                    </h4>
                </div>
            </div>
        </div>
        <% } %>
</div>

<%- include('partials/footer'); -%>